extends layout

block content
    .jumbotron
      .container
        h1.cont1 How May I Help You?        
        p.cont2 Electronic mail (email or e-mail) is a method of exchanging messages ("mail") between people using electronic devices. Email entered limited use in the 1960s, but users could only send to users of the same computer, and some early email systems required the author and the recipient to both be online simultaneously, similar to instant messaging. Ray Tomlinson is credited as the inventor of email; in 1971, he developed the first system able to send mail between users on different hosts across the ARPANET, using the @ sign to link the user name with a destination server. By the mid-1970s, this was the form recognized as email.
        a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
    .container
      .row
        .col-md-4
          h2 About Us
          Innovation and simplicity makes us happy: our goal is to remove any technical or financial barriers that can prevent business owners from making their own perspectives
          a.btn.btn-default.btn-success(href='#') View details
        .col-md-4
          h2 Contact Us
          Contact Us. If you have a question or a comment, please call us on +91 80104 88888 (9.30am to 5.30pm. Monday to Saturday.) or email us at 1804571@kiit.ac.in
          a.btn.btn-default.btn-success(href='#') View details
        .col-md-4
          h2 Our Blog
          Create your blog today! Use one of our professionally designed templates to get started. Every paid plan comes with a custom domain and access to our beautiful blog templates. Built-in SEO. Scalable and Secure. 
          a.btn.btn-default.btn-success(href='#') View details